<div class="d-flex flex-column">
    <div>
        <h2>Hasta luego, {{name}}</h2>
    </div>

    <div class="mt-5">
        <h4>¿Te arrepientes? ¡Vuelve!</h4>
        <button onclick="location.href='/login'" class='btn btn-success me-2'>Log in</button>
    </div>
</div>